Repository DeepLink-org/deeplink.framework, pull requests merged in 2023-12, with the labels that each got.

#482 [dicp][ascend]fix ascend mm/bmm
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#470 [dipu] update tidy configuration and remove if-constexpr in C++14
  dipu/.clang-tidy
  dipu/.clangd
  dipu/torch_dipu/csrc_dipu/profiler/collection.cpp
Labels: DIPU

#440 [dicp][tops] Run llama_finetune success.
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/dicp/vendor/TopsGraph/opset_transform.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
  dicp/test/op/test_inplace_copy.py
Labels: DICP

#490 [DIPU]Wx/check the status of build dipu
  dipu/scripts/ci/ascend/ci_ascend_script.sh
  dipu/scripts/ci/camb/ci_camb_script.sh
  dipu/scripts/ci/droplet/ci_droplet_script.sh
  dipu/scripts/ci/nv/ci_nv_script.sh
  dipu/scripts/ci/topsrider/ci_topsrider_script.sh
Labels: DIPU

#491 [dicp][ascend]infer op resinfo_231204
  dicp/dicp/dynamo_bridge/operator.py
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/infer_res_utils.py
Labels: DICP

#493 [dipu] add markdownlint and update most markdown files
  .github/workflows/format.yml
  .markdownlint.json
  README.md
  dipu/Contributors.md
  dipu/FAQ.md
  dipu/QuickStart.md
  dipu/README.md
  readme.md
Labels: DIPU

#467 [dicp]Support some ops for stable-diffusion.
  dicp/dicp/dynamo_bridge/op_transformer.py
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
  dicp/test/op/test_cos.py
  dicp/test/op/test_erf.py
  dicp/test/op/test_sin.py
  dicp/test/op/test_split.py
  dicp/test/tops_scripts/ops/static.ini
Labels: DICP

#505 [dicp]feat: get soc_version from aclrt
  dicp/dicp/vendor/AscendGraph/codegen/graph_utils.h
  dicp/dicp/vendor/AscendGraph/compile_job.py
Labels: DICP

#468 [FIX] fix virtual memory error of using SUPA
  dipu/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/vendor/supa/copyinplace.cpp
  dipu/torch_dipu/csrc_dipu/vendor/supa/deviceimpl.cpp
Labels: DIPU, supa

#502 [dipu]make conv2d's out in right memory-format
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/tests/python/unittests/test_conv2d.py
Labels: bug, DIPU

#512 [dicp][ascend] feat: add fusion switch file for ascend
  dicp/dicp/vendor/AscendGraph/codegen/fusion_switch.cfg
  dicp/dicp/vendor/AscendGraph/codegen/graph_compile.cpp
  dicp/dicp/vendor/AscendGraph/codegen/graph_utils.h
  dicp/dicp/vendor/AscendGraph/compile_job.py
Labels: DICP

#526 [dipu] Speedup profiler ctor when not enabled
  dipu/torch_dipu/csrc_dipu/profiler/profiler.cpp
  dipu/torch_dipu/csrc_dipu/profiler/profiler.h
Labels: DIPU

#516 [DIPU]clang-tidy_shanhang
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUDeviceInfo.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUEventPool.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBSCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocatorUtils.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawCachingAllocator.cpp
Labels: DIPU

#524 [dipu] Speedup `dumpOnArgLevel()` by using lazy initialization
  dipu/SupportedDiopiFunctions.txt
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: DIPU

#523 [DICP]fuse transpose/mm in ascendgraph
  dicp/dicp/dynamo_bridge/op_transformer.py
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/codegen/load_and_run.py
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#527 [DICP]remove unnecessary broadcast
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/codegen/load_and_run.py
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#533 [DICP] opt inplace copy
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/codegen/load_and_run.py
Labels: DICP

#534 [dipu] remove chech return value if
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.cpp
Labels: DIPU

#532 [dipu] Optimize `getAllocator` by adopting lookup table
  dipu/.clang-tidy
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/deviceproxy.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/deviceimpl.cpp
Labels: DIPU

#518 lyp_clang_tidy: warning uint64_t->int
  dipu/torch_dipu/csrc_dipu/profiler/CorrelationIDManager.cpp
  dipu/torch_dipu/csrc_dipu/profiler/CorrelationIDManager.h
  dipu/torch_dipu/csrc_dipu/profiler/DIPUDeviceActivity.cpp
  dipu/torch_dipu/csrc_dipu/profiler/DIPUDeviceActivity.h
  dipu/torch_dipu/csrc_dipu/profiler/patch.cpp
  dipu/torch_dipu/csrc_dipu/profiler/profiler.cpp
  dipu/torch_dipu/csrc_dipu/profiler/profiler.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
Labels: DIPU

#541 [dipu] fix: `torch.prod` int type promotion
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/tests/python/unittests/test_prod.py
Labels: bug, DIPU

#545 [dipu] fix typo PREFERED -> PREFERRED
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/scripts/autogen_diopi_wrapper/op_memory_format_converter.py
Labels: DIPU

#540 [dicp]add dicp ci for ascend
  .github/workflows/_runs-on-ascend.yml
  dicp/scripts/ci/ascend/dipu_env.sh
  dicp/scripts/ci/ascend/test_env.sh
  dicp/test/ascend_scripts/models/static.ini
  dicp/test/ascend_scripts/ops/static.ini
Labels: DICP

#552 [DIPU]improve profiler performance
  dipu/scripts/autogen_diopi_wrapper/autogen_diopi_wrapper.py
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/torch_dipu/csrc_dipu/profiler/profiler.cpp
  dipu/torch_dipu/csrc_dipu/profiler/profiler.h
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.cpp
Labels: DIPU

#517 [dicp][ascend] infer op resinfo
  dicp/dicp/dynamo_bridge/operator.py
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#531 [DIPU] Move static global variables into static functions.
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
  dipu/torch_dipu/csrc_dipu/base/basedef.h
  dipu/torch_dipu/csrc_dipu/profiler/profiler.h
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUEvent.h
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/guardimpl/DIPUGuardImpl.h
  dipu/torch_dipu/csrc_dipu/runtime/distributed/DICLUtils.hpp
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.cpp
Labels: DIPU

#546 [DICP]fix some ops in ascendgraph
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#556 [dipu] Add kunlunxin backend
  dipu/CMakeLists.txt
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/torch_dipu/csrc_dipu/runtime/device/basedef.h
  dipu/torch_dipu/csrc_dipu/utils/helpfunc.hpp
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/KLXGeneratorImpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/cmake/FindKLXRuntime.cmake
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/communicatorimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/deviceimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/kunlunxin/vendorapi.h
Labels: DIPU

#564 [dipu][format] do not break NOLINT-like comments
  dipu/.clang-format
Labels: DIPU

#509 [dipu] Fix warning based on the results of clang-tidy
  dipu/torch_dipu/csrc_dipu/aten/RegisterDIPU.cpp
  dipu/torch_dipu/csrc_dipu/aten/RegisterDIPU.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/CustomFallbackFunctions.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/CustomFallbackFunctionsForAmpGradScaler.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUAmp.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/EmptyOpsKernel.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/PinMemoryKernel.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/StorageShapeKernel.cpp
  dipu/torch_dipu/csrc_dipu/base/DIPUGlobals.cpp
  dipu/torch_dipu/csrc_dipu/binding/DIPUpybind.h
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/binding/ExportTensor.cpp
  dipu/torch_dipu/csrc_dipu/diopirt/diopi_helper.cpp
  dipu/torch_dipu/csrc_dipu/profiler/collection.cpp
  dipu/torch_dipu/csrc_dipu/profiler/collection.h
Labels: DIPU

#519 [dipu]clang tidy
  dipu/torch_dipu/csrc_dipu/runtime/core/MemChecker.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/MemChecker.h
  dipu/torch_dipu/csrc_dipu/runtime/device/basedef.h
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/deviceproxy.cpp
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.cpp
  dipu/torch_dipu/csrc_dipu/stub.cpp
  dipu/torch_dipu/csrc_dipu/utils/helpfunc.cpp
  dipu/torch_dipu/csrc_dipu/utils/helpfunc.hpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/CudaGeneratorImpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/communiatorimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/deviceimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/patch/DIPUPatchCudaAllocator.cpp
Labels: DIPU

#575 [dicp][tops]Update dicp ci
  .github/workflows/_runs-on-topsrider.yml
Labels: DICP

#562 [dicp][ascend] infer op resinfo and run single op 231222
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/dicp/vendor/AscendGraph/infer_res_utils.py
  dicp/test/ascend_scripts/models/run_test_models.sh
  dicp/test/ascend_scripts/ops/run_test_ops.sh
  dicp/test/ascend_scripts/ops/static.ini
Labels: DICP

#542 [DIPU]Improve testing coverage
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
  dipu/tests/python/individual_scripts/test_dumparg.py
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUGeneratorImpl.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUGeneratorImpl.h
Labels: DIPU
