Repository DeepLink-org/deeplink.framework, pull requests merged in 2023-11, with the labels that each got.

#398 add Interface in CMake for diopi_impl
  dipu/scripts/ci/droplet/ci_droplet_script.sh
  dipu/third_party/CMakeLists.txt
Labels: enhancement

#433 [dicp] format c++ code
  dicp/.clang-format
  dicp/dicp/vendor/AscendGraph/codegen/graph_compile.cpp
  dicp/dicp/vendor/AscendGraph/codegen/graph_utils.h
  dicp/dicp/vendor/TopsGraph/codegen/include/common_ops.h
  dicp/dicp/vendor/TopsGraph/codegen/include/conv2d_grad.h
  dicp/dicp/vendor/TopsGraph/codegen/include/dtu_utils.h
  dicp/dicp/vendor/TopsGraph/codegen/include/maxpool2d_grad.h
  dicp/dicp/vendor/TopsGraph/codegen/src/common_ops.cpp
  dicp/dicp/vendor/TopsGraph/codegen/src/conv2d_grad.cpp
  dicp/dicp/vendor/TopsGraph/codegen/src/dtu_utils.cpp
  dicp/dicp/vendor/TopsGraph/codegen/src/maxpool2d_grad.cpp
Labels: DICP

#431 [dicp][tops] Fix some ops.
  dicp/dicp/dynamo_bridge/compile_fx.py
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
  dicp/setup.py
Labels: DICP

#429 [dicp][ascend] remove inputs in graph outputs and enhance AscendOperator
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/codegen/graph_utils.h
Labels: DICP

#435 [dipu] Add .clang-tidy
  dipu/.clang-tidy
  dipu/.clangd
  dipu/third_party/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/CMakeLists.txt
Labels: DIPU

#434 [dicp][tops] Adjust for llama_finetune.
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
Labels: DICP

#442 [dicp][tops] Fix BatchNorm in resnet50.
  dicp/dicp/vendor/TopsGraph/codegen/src/common_ops.cpp
  dicp/test/model/test_resnet50.py
Labels: bug, DICP

#447 [dipu] Fix dipu build err on tops.
  dipu/torch_dipu/csrc_dipu/diopirt/diopirt_impl.cpp
Labels: DIPU, DICP

#477 [dipu] Fix copy_ fallback of topsrider.
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
Labels: DIPU

#453 [dipu] tidy some source files and update nv build script
  dipu/scripts/ci/nv/ci_nv_script.sh
  dipu/third_party/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/aten/DIPUATenFunctions.h
  dipu/torch_dipu/csrc_dipu/base/basedef.h
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUEvent.h
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUGeneratorImpl.h
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUStream.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUAsyncResourcePool.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUSpinMutex.h
  dipu/torch_dipu/csrc_dipu/runtime/core/guardimpl/DIPUGuardImpl.h
  dipu/torch_dipu/csrc_dipu/runtime/device/deviceapis.h
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/deviceproxy.h
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/diclproxy.cpp
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/diclproxy.h
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.h
Labels: DIPU

#476 [dipu]add ascend profiler
  dipu/tests/python/unittests/test_profiler.py
  dipu/torch_dipu/csrc_dipu/binding/ExportProfiler.cpp
  dipu/torch_dipu/csrc_dipu/runtime/device/profilerapis.h
  dipu/torch_dipu/csrc_dipu/vendor/ascend/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/vendor/ascend/profilerimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/vendorapi.h
  dipu/torch_dipu/profiler/__init__.py
  dipu/torch_dipu/profiler/profiler.py
Labels: DIPU
