Repository DeepLink-org/deeplink.framework, pull requests merged in 2024-01, with the labels that each got.

#589 [dipu][refactor] Refactor individual tests for easier usage
  dipu/tests/python/README.md
  dipu/tests/python/individual_scripts/generate_unittest_for_individual_scripts.py
  dipu/tests/python/individual_scripts/local_eviron.py
  dipu/tests/python/individual_scripts/stdout_redirector.py
  dipu/tests/python/individual_scripts/test_allocator.py
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
  dipu/tests/python/individual_scripts/test_dipu_op_register.py
  dipu/tests/python/individual_scripts/test_dipu_profiler.py
  dipu/tests/python/individual_scripts/test_dumparg.py
  dipu/tests/python/individual_scripts/test_memory_stats.py
  dipu/tests/python/individual_scripts/utils
  dipu/tests/python/unittests/stdout_redirector.py
  dipu/tests/python/unittests/test_profiler_cuda.py
  dipu/tests/python/unittests/utils
  dipu/tests/python/utils/__init__.py
  dipu/tests/python/utils/local_eviron.py
  dipu/tests/python/utils/stdout_redirector.py
  dipu/tests/python/utils/test_in_subprocess.py
Labels: DIPU, test, refactor

#590 [dipu][optim] speedup mm by register dipu_mm and use nodispatch::empty
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/tests/python/unittests/test_mm.py
  dipu/torch_dipu/csrc_dipu/aten/DIPUATenFunctions.h
  dipu/torch_dipu/csrc_dipu/aten/RegisterDIPU.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/EmptyOpsKernel.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/NodispatchUtils.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/PinMemoryKernel.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/StorageShapeKernel.cpp
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawAllocator.h
  dipu/torch_dipu/csrc_dipu/utils/Log.h
  dipu/torch_dipu/csrc_dipu/vendor/cuda/patch/wrapperRegister.cpp
Labels: DIPU, optim, refactor

#606 [dicp] adjust codeowners
  .github/CODEOWNERS
Labels: DICP

#569 [DICP]rename add/adds in ascend op
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
Labels: DICP

#609 [dipu] fix codeowners
  .github/CODEOWNERS
Labels: bug, DIPU

#604 [dipu]Make a fake jit in which just return orginal object
  dipu/torch_dipu/__init__.py
Labels: DIPU

#587 [dicp][ascend] Daoxin/fix hf ci.
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/test/ascend_scripts/models/run_test_models.sh
  dicp/test/model/test_hf.py
Labels: DICP

#595 zq/add schema for normal
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/tests/python/unittests/test_normal.py
Labels: DIPU

#571 [DICP]Add llama_finetune test.
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
  dicp/scripts/ci/tops/ci_tops_test_env.sh
  dicp/test/common/accelerate_dynamo_backend.py
  dicp/test/common/prompter.py
  dicp/test/common/utils.py
  dicp/test/model/run_test_model.sh
  dicp/test/model/test_llama_finetune.py
  dicp/test/tops_scripts/models/run_test_models.sh
  dicp/test/tops_scripts/models/static.ini
Labels: DICP

#610 Zq/fix ascend silu
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
  dipu/torch_dipu/csrc_dipu/aten/ops/CustomFallbackFunctions.hpp
Labels: bug, DIPU

#591 [DIPU] Wx/add test for llama 7b via lightllm
  dipu/scripts/ci/ci_one_iter.sh
  dipu/scripts/ci/ci_run_one_iter.py
  dipu/scripts/ci/nv/ci_nv_env.sh
  dipu/scripts/ci/test_one_iter_large_language_model_list.yaml
Labels: DIPU

#608 fix special nhwc copy err
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
  dipu/tests/python/individual_scripts/test_rt_ddp.py
  dipu/torch_dipu/csrc_dipu/aten/RegisterDIPU.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
  dipu/torch_dipu/csrc_dipu/runtime/distributed/c10dOps.cpp
  dipu/torch_dipu/csrc_dipu/utils/helpfunc.hpp
  dipu/torch_dipu/dipu/distributed.py
Labels: bug, DIPU

#626 [DICP]fix llama finetune
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#625 [dicp][tops]support pt2.1.1
  dicp/dicp/dynamo_bridge/compile_fx.py
  dicp/dicp/dynamo_bridge/pt_patch.py
  dicp/dicp/vendor/TopsGraph/config.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/scripts/ci/tops/ci_tops_test_env.sh
  dicp/test/common/utils.py
Labels: DICP

#631 [DICP]bugfix for llama finetune
  dicp/dicp/vendor/AscendGraph/compile_job.py
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#640 [DIPU]fix test_dipu_copy_fallback empty nan
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
Labels: DIPU

#632 [dicp][ascend]zcx/optimize ci
  .github/workflows/_runs-on-ascend.yml
  .gitignore
  dicp/dicp/vendor/AscendGraph/compile_job.py
Labels: DICP

#634 [DIPU] Add custom fallbacks for mm, rsqrt.out, _softmax.out
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/torch_dipu/csrc_dipu/aten/ops/CustomFallbackFunctions.hpp
Labels: DIPU

#648 [dicp]add dicp ci
  .github/workflows/main.yml
  dicp/dicp/dynamo_bridge/utils.py
  dicp/dicp/vendor/AscendGraph/compile_job.py
  dicp/dicp/vendor/AscendGraph/opset_convert.py
  dicp/test/common/utils.py
Labels: DICP, test

#656 rm dicp ci in dipu workflow
  .github/workflows/main.yml
Labels: test

#623 [dicp][ascend]Support ascend stable_diffusion.
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/dicp/vendor/AscendGraph/pattern_replacement.py
  dicp/scripts/ci/ascend/test_env.sh
  dicp/test/ascend_scripts/models/static.ini
  dicp/test/model/test_hf.py
Labels: DICP

#621 [dicp][test]fix bug in ci
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/test/ascend_scripts/ops/run_test_ops.sh
  dicp/test/op/test_lt.py
Labels: bug, DICP, test

#655 [DICP]add ge/logical_or/repeat/tril for ascendgraph
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/test/ascend_scripts/ops/static.ini
  dicp/test/op/test_ge.py
  dicp/test/op/test_logical_or.py
  dicp/test/op/test_tril.py
Labels: DICP

#657 [dicp]zcx/add infer shape for matmul
  dicp/dicp/dynamo_bridge/op_transformer.py
  dicp/dicp/dynamo_bridge/utils.py
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/codegen/utils.py
  dicp/dicp/vendor/AscendGraph/conversion.py
Labels: DICP

#639 [dipu] add black CI check & format script
  .github/workflows/format.yml
  dipu/scripts/autogen_diopi_wrapper/autogen_diopi_wrapper.py
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/scripts/autogen_diopi_wrapper/op_memory_format_converter.py
  dipu/scripts/ci/ci_run_one_iter.py
  dipu/scripts/ci/cpplint.py
  dipu/scripts/ci/nv/ci_nv_run_one_iter.py
  dipu/scripts/op_capture/op_capture.py
  dipu/setup.py
  dipu/tests/python/fix_needed/test_bitwise_and.py
  dipu/tests/python/fix_needed/test_clamp.py
  dipu/tests/python/individual_scripts/test_dipu_fallback.py
  dipu/tests/python/individual_scripts/test_dipu_profiler.py
  dipu/tests/python/individual_scripts/test_op_benchmark.py
  dipu/tests/python/individual_scripts/test_profiler_communication.py
  dipu/tests/python/individual_scripts/test_rt_tensor.py
  dipu/tests/python/unittests/test_amp.py
  dipu/tests/python/unittests/test_amp_init_dtype_multithread.py
  dipu/tests/python/unittests/test_avg_pool2d.py
  dipu/tests/python/unittests/test_copy.py
  dipu/tests/python/unittests/test_foreach_op.py
  dipu/tests/python/unittests/test_format_cast.py
  dipu/tests/python/unittests/test_layer_norm.py
  dipu/tests/python/unittests/test_logical_and.py
  dipu/tests/python/unittests/test_logical_not.py
  dipu/tests/python/unittests/test_logical_or.py
  dipu/tests/python/unittests/test_minimum_maximum.py
  dipu/tests/python/unittests/test_mock_cudatensor.py
  dipu/tests/python/unittests/test_nll_loss.py
  dipu/tests/python/unittests/test_norm.py
  dipu/tests/python/unittests/test_normal.py
  dipu/tests/python/unittests/test_prod.py
  dipu/tests/python/unittests/test_profiler_vendor.py
  dipu/tests/python/unittests/test_softmax.py
  dipu/tests/pytorch_config_cuda.py
  dipu/tests/pytorch_config_gcu.py
  dipu/tests/pytorch_config_mlu.py
  dipu/tests/pytorch_test_base.py
  dipu/torch_dipu/__init__.py
  dipu/torch_dipu/dipu/__init__.py
  dipu/torch_dipu/dipu/amp.py
  dipu/torch_dipu/dipu/dataloader.py
  dipu/torch_dipu/dipu/device.py
  dipu/torch_dipu/dipu/distributed.py
  dipu/torch_dipu/dipu/generator.py
  dipu/torch_dipu/dipu/memory.py
  dipu/torch_dipu/dipu/random_dipu.py
  dipu/torch_dipu/dipu/storages.py
  dipu/torch_dipu/dipu/streams.py
  dipu/torch_dipu/dipu/tensor.py
  dipu/torch_dipu/dipu/utils.py
  dipu/torch_dipu/profiler/__init__.py
  dipu/torch_dipu/profiler/profiler.py
  dipu/torch_dipu/testing/_internal/common_utils.py
  dipu/torch_dipu/utils/distutis.py
  run_format.sh
Labels: DIPU, refactor

#666 [DICP] add repeat/tril/logical_or/ge for ascendgraph
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/test/ascend_scripts/ops/static.ini
  dicp/test/op/test_ge.py
  dicp/test/op/test_logical_or.py
  dicp/test/op/test_tril.py
Labels: DICP

#611 [dicp]zcx/dicp support dipu native memory format
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/opset_convert.py
Labels: DICP

#635 [dicp]Cjt/support resnet50 train
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/test/ascend_scripts/models/static.ini
  dicp/test/ascend_scripts/ops/run_test_ops.sh
  dicp/test/model/test_resnet50.py
Labels: DICP

#662 [dicp]zcx/support float16 for ascend
  dicp/dicp/third_party/.clang-format
  dicp/dicp/third_party/half/ChangeLog.txt
  dicp/dicp/third_party/half/LICENSE.txt
  dicp/dicp/third_party/half/README.txt
  dicp/dicp/third_party/half/include/half.hpp
  dicp/dicp/third_party/nlohmann/json.hpp
  dicp/dicp/vendor/AscendGraph/codegen/graph_utils.h
  dicp/dicp/vendor/AscendGraph/codegen/load_and_run.py
  dicp/dicp/vendor/AscendGraph/codegen/utils.py
  dicp/dicp/vendor/AscendGraph/compile_job.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/setup.py
Labels: DICP

#669 [dicp] add ascendgraph index_put, repeat_interleave, slice_scatter
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/dicp/vendor/AscendGraph/pattern_replacement.py
  dicp/test/ascend_scripts/ops/static.ini
  dicp/test/op/test_index_put.py
  dicp/test/op/test_repeat_interleave.py
  dicp/test/op/test_slice_scatter.py
Labels: DICP

#658 perf: remove sync for device tensor
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/CUDACopyInplace.cpp
Labels: DIPU

#668 [dicp][ascend] infer op resinfo and run single op 240124
  dicp/dicp/dynamo_bridge/graph.py
  dicp/dicp/vendor/AscendGraph/ascend_op.py
  dicp/dicp/vendor/AscendGraph/codegen/ascend.py
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/dicp/vendor/AscendGraph/infer_res_utils.py
  dicp/test/ascend_scripts/ops/static.ini
  dicp/test/op/test__adaptive_avg_pool2d.py
  dicp/test/op/test__adaptive_avg_pool2d_backward.py
  dicp/test/op/test__native_batch_norm_legit_functional.py
Labels: DICP

#663 [DIPU] Use mixed scalar type instead of f32 in group_norm.
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: bug, DIPU

#665 add dicp on dipu
  .github/workflows/main.yml
  dicp/scripts/ci/ascend/ci_runs_on_dipu_env.sh
  dipu/scripts/ci/ascend/ci_ascend_script.sh
Labels: DIPU, DICP

#615 [DICP] Implement paras auto cast in some binary ops.
  dicp/dicp/dynamo_bridge/utils.py
  dicp/dicp/vendor/AscendGraph/infer_res_utils.py
  dicp/dicp/vendor/TopsGraph/conversion.py
Labels: DICP

#652 [DIPU] Improve autocompare
  dipu/scripts/autogen_diopi_wrapper/autogen_diopi_wrapper.py
  dipu/scripts/autogen_diopi_wrapper/diopi_wrapper_template.py
  dipu/torch_dipu/csrc_dipu/aten/ops/AutoCompareUtils.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/CustomFallbackFunctions.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: DIPU

#633 [DIPU] Check SupportedDiopiFunctions.txt and upgrade to clang17
  .github/workflows/format.yml
  .github/workflows/main.yml
  dipu/.clang-tidy
  dipu/.clangd
  dipu/SupportedDiopiFunctions.txt
  dipu/scripts/ci/nv/ci_nv_tidy.sh
Labels: enhancement, DIPU

#679 [DICP] remove unnecessary broadcast
  dicp/dicp/vendor/AscendGraph/conversion.py
  dicp/test/model/test_hf.py
  dicp/test/model/test_llama.py
Labels: DICP
