Repository DeepLink-org/deeplink.framework, pull requests merged in 2024-04, with the labels that each got.

#759 feat(dipu,droplet): add error message when tangEventQuery failed
  dipu/torch_dipu/csrc_dipu/vendor/droplet/deviceimpl.cpp
Labels: enhancement, DIPU

#749 zq/add switch env for autocompare
  .github/workflows/main.yml
  dipu/CMakeLists.txt
  dipu/QuickStart.md
  dipu/scripts/autogen_diopi_wrapper/autogen_diopi_wrapper.py
  dipu/scripts/autogen_diopi_wrapper/autogen_wrapped_code.sh
  dipu/scripts/ci/ascend/ci_ascend_script.sh
  dipu/torch_dipu/csrc_dipu/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: DIPU

#768 fix(dipu): Bug in loading tensor
  dipu/tests/python/unittests/test_load.py
  dipu/torch_dipu/dipu/storages.py
Labels: bug, DIPU

#769 fix(dipu,cuda): add nccl capability check
  dipu/torch_dipu/csrc_dipu/vendor/cuda/communiatorimpl.cpp
Labels: bug, DIPU

#746 fix(dipu,vendor,ascend): simple and thread-safe device management
  dipu/torch_dipu/csrc_dipu/vendor/ascend/deviceimpl.cpp
Labels: DIPU

#778 fix(dipu): fix device field of linalg_vector_norm in autogen
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
Labels: bug, DIPU

#780 fix(dipu,vendor,s2): add force flush before throwing error
  dipu/torch_dipu/csrc_dipu/vendor/droplet/deviceimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/droplet/vendorapi.h
Labels: bug, DIPU
