Repository DeepLink-org/deeplink.framework, pull requests merged in 2024-07, with the labels that each got.

#862 fix(dipu): fix compilation & linking errors on droplet
  dipu/torch_dipu/csrc_dipu/metrics/detail/collector.h
  dipu/torch_dipu/csrc_dipu/vendor/droplet/communicatorimpl.cpp
Labels: bug, DIPU

#888 [DIPU]fix torch allocator core dump when process exit
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingDeviceAllocator.cpp
Labels: DIPU

#882 feat(dipu): exit->warn when expandable_segments set but not supported
  dipu/tests/python/individual_scripts/test_allocator_conf.py
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingDeviceAllocator.cpp
Labels: DIPU

#855 perf(dipu): faster aten::mul in cuda & muxi
  dipu/scripts/autogen_diopi_wrapper/autogen_diopi_wrapper.py
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUOpInferrer.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUOpInferrer.h
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: enhancement, DIPU

#903 fix(dipu,droplet): clear error after malloc failed (no mem)
  dipu/torch_dipu/csrc_dipu/vendor/droplet/deviceimpl.cpp
Labels: bug, DIPU

#910 feat(dipu,droplet): simulate 1-card PCCL communication using memcpy
  dipu/torch_dipu/csrc_dipu/vendor/droplet/communicatorimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/droplet/vendorapi.h
Labels: enhancement, DIPU

#812 refactor(dipu): rename DIPUEvent::stream_id to last_recorded_stream_id
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUEvent.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUAsyncResourcePool.h
Labels: DIPU, refactor

#876 refactor(dipu): remove some maybe unused environment variables and add a dev mode into build script
  .gitignore
  dipu/QuickStart.md
  dipu/scripts/ci/nv/ci_nv_env.sh
  dipu/scripts/ci/nv/ci_nv_script.sh
Labels: documentation, DIPU, refactor

#878 refactor(dipu): better setup.py
  dipu/setup.py
Labels: DIPU, refactor
