Repository DeepLink-org/deeplink.framework, pull requests merged in 2024-06, with the labels that each got.

#834 [dipu]zcx/add memory status impl for ascend
  dipu/torch_dipu/csrc_dipu/vendor/ascend/deviceimpl.cpp
Labels: DIPU

#822 [dipu] feat: add gather and scatter support by using recv and send
  dipu/tests/python/individual_scripts/test_rt_ddp.py
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/diclproxy.cpp
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/diclproxy.h
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.cpp
  dipu/torch_dipu/csrc_dipu/runtime/distributed/ProcessGroupDICL.h
Labels: DIPU

#815 [dipu] feat: add metrics collector for allocator
  dipu/tests/python/unittests/test_metrics.py
  dipu/torch_dipu/csrc_dipu/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/metrics/detail/collector.h
  dipu/torch_dipu/csrc_dipu/metrics/detail/label.h
  dipu/torch_dipu/csrc_dipu/metrics/detail/value.h
  dipu/torch_dipu/csrc_dipu/metrics/labeled.h
  dipu/torch_dipu/csrc_dipu/metrics/metrics.cpp
  dipu/torch_dipu/csrc_dipu/metrics/metrics.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/allocator_metrics.h
  dipu/torch_dipu/csrc_dipu/runtime/devproxy/deviceproxy.cpp
Labels: enhancement, DIPU

#833 [DIPU]add torch allocator
  dipu/scripts/ci/camb/ci_camb_env.sh
  dipu/scripts/ci/muxi/ci_muxi_env.sh
  dipu/scripts/ci/nv/ci_nv_env.sh
  dipu/tests/python/individual_scripts/test_allocator.py
  dipu/tests/python/individual_scripts/test_memory_stats.py
  dipu/tests/python/individual_scripts/test_metrics.py
  dipu/tests/python/unittests/test_copy.py
  dipu/tests/python/unittests/test_metrics.py
  dipu/torch_dipu/csrc_dipu/CMakeLists.txt
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
  dipu/torch_dipu/csrc_dipu/base/environ.hpp
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/DIPUEvent.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocatorUtils.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingDeviceAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingDeviceAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingHostAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingHostAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/ExpandableSegment.h
  dipu/torch_dipu/csrc_dipu/runtime/device/basedef.h
  dipu/torch_dipu/csrc_dipu/vendor/ascend/AscendCopyInplace.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/AscendExpandableSegment.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/deviceimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/camb/basedeviceimpl.hpp
  dipu/torch_dipu/csrc_dipu/vendor/camb/cnrt_6.x/deviceimpl.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/CUDACopyInplace.cpp
  dipu/torch_dipu/csrc_dipu/vendor/cuda/deviceimpl.cpp
  dipu/torch_dipu/dipu/memory.py
Labels: enhancement, DIPU

#846 doc(dipu): Add README for metrics
  dipu/torch_dipu/csrc_dipu/metrics/README.md
Labels: documentation, DIPU

#845 feat(dipu): mock torch.cuda.memory._set_allocator_settings
  dipu/tests/python/individual_scripts/test_allocator_conf.py
  dipu/torch_dipu/__init__.py
  dipu/torch_dipu/csrc_dipu/binding/ExportRT.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingDeviceAllocator.cpp
  dipu/torch_dipu/dipu/memory.py
Labels: DIPU

#802 feat(dipu,droplet): auto detecting PCCL library
  dipu/torch_dipu/csrc_dipu/vendor/droplet/CMakeLists.txt
Labels: DIPU

#849 test(dipu): update test_profiler_vendor.py in corresponding to DIOPI changes
  dipu/tests/python/unittests/test_profiler_vendor.py
Labels: DIPU, test
