Repository DeepLink-org/deeplink.framework, pull requests merged in 2024-03, with the labels that each got.

#705 [dicp][tops]Optimize stable-diffusion for tops.
  dicp/dicp/dynamo_bridge/graph.py
  dicp/dicp/vendor/TopsGraph/codegen/enflame.py
  dicp/dicp/vendor/TopsGraph/codegen/include/common_ops.h
  dicp/dicp/vendor/TopsGraph/codegen/src/common_ops.cpp
  dicp/dicp/vendor/TopsGraph/config.py
  dicp/dicp/vendor/TopsGraph/conversion.py
  dicp/dicp/vendor/TopsGraph/opset_transform.py
  dicp/dicp/vendor/TopsGraph/to_clast.py
  dicp/dicp/vendor/TopsGraph/tops_op.py
  dicp/test/model/test_stable_diffusion_topsclast.py
  dicp/test/op/test_group_norm.py
  dicp/test/op/test_native_layer_norm.py
  dicp/test/tops_scripts/ops/static.ini
Labels: DICP

#688 the initial commit of support deepspeed in dipu
  dipu/torch_dipu/dipu/__init__.py
  dipu/torch_dipu/dipu/memory.py
  dipu/torch_dipu/dipu/nvtx.py
  dipu/torch_dipu/utils/deepspeed_dipu/README.md
  dipu/torch_dipu/utils/deepspeed_dipu/__init__.py
  dipu/torch_dipu/utils/deepspeed_dipu/deepspeed_patch.py
Labels: DIPU

#709 [DIPU] Remove unnecessary sync in CopyAll
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
Labels: DIPU

#713 [DIPU] Add index.Tensor schema
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
Labels: DIPU

#716 [DIPU] Add _foreach_lerp_.Scalar schema
  dipu/scripts/autogen_diopi_wrapper/diopi_functions.yaml
Labels: DIPU

#722 fix(dipu): let CMake choose current python in PATH rather than highest version
  dipu/CMakeLists.txt
Labels: bug, DIPU

#721 support allocator to customize memory alignment and allocation size strategy
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBSCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/AscendCustomAllocatorStrategy.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/deviceimpl.cpp
Labels: DIPU

#729 feat(dipu): improve memory usage efficiency
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUAsyncResourcePool.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBFCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUBSCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPUCachingAllocator.h
  dipu/torch_dipu/csrc_dipu/runtime/core/allocator/DIPURawCachingAllocator.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/AscendCustomAllocatorStrategy.cpp
Labels: DIPU

#730 [DIPU] Replace the default (memCopyAsync + Sync) strategy with (Sync + memCopySync) for direct memory copy on Ascend
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.cpp
  dipu/torch_dipu/csrc_dipu/aten/ops/DIPUCopy.hpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/AscendCopyInplace.cpp
  dipu/torch_dipu/csrc_dipu/vendor/ascend/deviceimpl.cpp
Labels: DIPU

#752 fix(dipu): avoid infinite recursion in `dumpArg()`
  dipu/torch_dipu/csrc_dipu/aten/ops/AutoCompareUtils.hpp
  dipu/torch_dipu/csrc_dipu/aten/ops/OpUtils.hpp
Labels: bug, DIPU

#755 fix(dipu,python): print device index for cuda tensor
  dipu/.clang-format
  dipu/tests/python/unittests/test_python_device.py
  dipu/torch_dipu/csrc_dipu/binding/patchCsrcDevice.cpp
Labels: bug
